body{

    justify-content: center;
    display: flex;
    color : #fff;
    font-style: bold;
    font-size: 5vh;
}

.name {
    font-style: bold;
}

html {
    min-height:100%;
    background: 
     linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
     0 0/100% 200%;
     animation: a 8s linear infinite;
  }


.container {
    display: flex;
    justify-content: center;
    margin: 100px;
    padding: 100px
}


.backgroundop {
    max-width: 100vw;
    display: block;
    background-color: rgba(0, 0, 0, 0.57);
    padding: 100px;
    border-radius: 5vh;
    box-shadow: 0 4px 30px;
}

ul.nav-links {
    margin: 0;
    float: right;
    margin-bottom: 20px;
    padding: 20px;
    
}


@keyframes a {
    to {background-position:0 -200%}
  }

  .skill {
    margin: 10px 0;
  }
  
  .progress-bar {
    background-color: #eee;
    border-radius: 10px;
    position: relative;
    height: 20px;
    width: 100%;
    margin-top: 5px;
  }
  
  .progress {
    background-color: rgb(94, 77, 77);
    height: 100%;
    border-radius: 10px;
  }
  
  .percentage {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
  }







